html{height:100%;}
body {
background:#3BB9FF;
background:-webkit-gradient(linear,0% 0%,0% 100%, from(#3BB9FF) ), to(#000000)  );
background: -moz-linear-gradient(top, (#3BB9FF) 0%, (#3BB9FF) 100%);

overflow:hidden;}


.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(#3BB9FF) ), to(rgba(255,255,255,0.6))  );
  background: -moz-linear-gradient(top, (#3BB9FF) 0%, rgba(255,255,255,.6) 100%);
	width:1px;
	height:89px;
	position: absolute;
	bottom:200px;
	-webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;
  
}

/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;}
}
